<mat-card>
  <mat-card-header>
    <mat-card-title>Performing a request</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="response">
      @if (init) {
        <p>Click on button to do the request.</p>
      }

      @if (waiting) {
        <p>Waiting for a response...</p>
      }

      @if (errorMessage) {
        <p>{{ errorMessage }}</p>
      }

      @if (successMessage) {
        <p>{{ successMessage }}</p>
      }
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button matButton="filled" (click)="performRequest()">Request!</button>
  </mat-card-footer>
</mat-card>
