<h2>Tasks list</h2>

<div class="container">
  <app-todo-list
    [title]="'TO DO'"
    [identifier]="'todo'"
    [todos]="pedingtodos"></app-todo-list>

  <app-todo-list
    [title]="'ACTIVE'"
    [identifier]="'active'"
    [todos]="activetodos"></app-todo-list>

  <app-todo-list
    [title]="'DONE'"
    [identifier]="'done'"
    [todos]="donetodos"></app-todo-list>
</div>

<button
  class="add"
  mat-mini-fab
  aria-label="Example icon button with a delete icon"
  (click)="addTodo()">
  <mat-icon>add</mat-icon>
</button>
