:host {
  display: block;
  height: 100%;
}
.container {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  gap: 2em;

  app-todo-list {
    flex: 1 0 calc(100% / 3);
  }
}
.add {
  position: absolute;
  top: 1em;
  right: 1em;
}
