<header>
  <app-header></app-header>
</header>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <header>
      <h2>MENÚ PRINCIPAL</h2>
      <section>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Táboas</a></li>
          <li><a href="#">Private</a></li>
        </ul>
      </section>
    </header>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
