$header-height: 70px;

header {
  height: $header-height;
}
.example-container {
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  mat-sidenav {
    background-color: aliceblue;
    width: 200px;

    h2 {
      padding: 15px 15px 0;
      margin: 0;
      text-align: center;
    }

    ul {
      padding: unset;
      li {
        padding: 0.5rem 2rem;
        list-style: none;
        text-transform: capitalize;
        &:hover {
          background-color: rgba(215, 215, 215, 1);
          font-weight: bold;
        }
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
